body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 21px;
    
}

.container {
    margin: 0 auto;
    width: 570px;

}

header,
section {
    padding: 100px 0;
}

.inverse {
    background-color: #252525;
    color: #fff;
}

h1,
h2 {
    margin-top: 0;
    font-weight: 300;

}
h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
    border-top: 1px #c4c4c4 solid;
    border-bottom: 1px #c4c4c4 solid;
    padding: 30px 0;

}

h3 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0;

}

.small-text {
    margin-top: 0;
    font-size: 16px;
}

.accent-text {
    color: #99d930;
    font-weight: 900;

}


h1 .accent-text {
    display: block;
    font-size: 80px;
}

h2 .accent-text {
    display: block;
    font-size: 60px;
}

a {
    color: #99d930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: yellow;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #99d930 ;
    color: #252525;
    padding: 10px 25px;

}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
}

.articles .btn:hover,
.articles .btn:focus {
    background-color: #fff;
    color: #252525;
}
