html {
    font-size: 0.9rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;

}

img {
    max-width: 90%;
}



.container {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 670px;
}

section {
    padding: 6.25em 0;
}

header {
    padding: 3em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.inverse {
    background-color: #252525;
    color: #fff;
}



h1,
h2 {
    margin-top: 0;
    font-weight: 300;

}
h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.625rem;
    border-top: 1px #c4c4c4 solid;
    border-bottom: 1px #c4c4c4 solid;
    padding: 0.5em 0;
    margin-bottom: .5em;

}

h3 {
    font-weight: 900;
    font-size: 2.25rem;
    margin-bottom: 0;

}

.small-text {
    margin-top: 0.3125em;
    font-size: 1rem;
}

.accent-text {
    color: #99d930;
    font-weight: 900;

}


h1 .accent-text {
    display: block;
    font-size: 5rem;
}

h2 .accent-text {
    display: block;
    font-size: 3.75rem;
}

a {
    color: #99d930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: yellow;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #99d930 ;
    color: #252525;
    padding: .625em 1.5625em;
    margin-top: 1.5625em;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
}

.articles .btn:hover,
.articles .btn:focus {
    background-color: #fff;
    color: #252525;
}

@media (min-width: 700px) {
    html {
        font-size: 1.3125rem;
    }
}

@media (min-width: 850px) {
    

    .flex {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content:space-around;
        align-items: center;

    }

    .articles {
        width: 50%;
        background-color: #99d930;
        color: #252525;
    }

    h2 {
        border-color: #252525;
    }

    .articles .accent-text {
        color: #252525;
    }

    .articles a {
        color: #252525;
    }

    .articles a:hover,
    .articles a:focus {
        color:#fff;
    }

    .articles .btn {
    background-color: #252525;
    color: #fff;
    }

    .about-me {
        width: 50%
    }

    .portfolio {
        background-color: #252525;
        color: white;
        min-height: 100vh;
        display: flex;
        align-items: center;
        
    }

    .portfolio h2 {
        border-color: #c4c4c4;
    }

    .portfolio .container {
        max-width: 1200px;
    }

    .portfolio img {
        width: 100%;
        height: 15em;
        object-fit: cover;
    }

    .work {
        display: flex;
        justify-content: space-between;
        
    }

    .portfolio-item {
        width: 32%;
 
    }

}